.container{
    width: 36vw;
    height: 41vw;
    border: 1px solid lightgray;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 14px -1px #000000;
}

.headerContiner{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #B4DFE5;
}

.headerInp{
    font-size: 2rem;
    width: 100%;
    background-color: inherit;
    color: black;
    border: none;
    text-align: center;
}

.sides{
    width: 50%;
    height: 90%;
    box-sizing: border-box;
    background-color: #D2FDFF;
    border: 1px solid #303C6C;
    
    
}

.sideHeader{
    background-color:#303C6C ;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px;
    text-transform: uppercase;
    border-right: 1px solid #B4DFE5;
    border-left: 1px solid #B4DFE5;
}

.sideContent{
    padding: 20px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 70px);
    box-sizing: border-box;
}

.sideContent::-webkit-scrollbar{
    width: 10px;
    background-color: #D2FDFF;
}
.sideContent::-webkit-scrollbar-thumb{
    background-color: #303C6C;
    border-radius: 10px;
}

.input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    flex-wrap: nowrap;
}

.inputBg{
    color: black;
    margin: 5px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.inp{
    background-color: white;
    border: none;
    width: 100%;
    font-size: inherit;
    color: black;
    border: 1px solid #303C6C;
    padding: 5px 15px;
    border-radius: 15px;
    outline: none;
}

.inpIndex{
    text-align: center;
}


